<h1>NAUM-tickets</h1>
<ul><li><%= link_to 'List of stations', railway_stations_path %></li></ul>
<ul><li><%= link_to 'List of trains', trains_path %></li></ul>
<ul><li><%= link_to 'List of routes', routes_path %></li></ul>
<ul><li><%= link_to 'List of carriages', carriages_path %></li></ul>
