<% if resourse.errors.any? %>
  <div id="error_explanation">
    <h7><%= pluralize(resourse.errors.count, "error") %> prohibited this route from being saved:</h7>

    <ul>
      <% resourse.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
